.cadastro-btn-preto-borda { /* Nova classe para este efeito */
    background-color: #222222; /* Preto principal */
    color: white; /* Cor do texto: BRANCO */
    padding: 15px 30px;
    border: 1px solid #333333; /* Adicionamos uma borda sutil para base */
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Transição apenas para a box-shadow */
    outline: none; /* Remove o contorno padrão do foco */
}

.cadastro-btn-preto-borda:hover {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7); /* Brilho branco na borda */
}